[data-theme='dark'] {
    --color-primary: #999696;

    --color-background: #121212;
    --color-surface: #1f1f1f;

    --color-text: #ffffff;
    --color-text-secondary: #b3b3b3;

    --color-border: #2a2a2a;

    --color-success: #366b3e;
    --color-warning: #e0a655;
    --color-danger: #990f0f;
    --color-info: #004773;
}