<mat-toolbar class="topbar">

    <div class="brand">
        <mat-icon>rocket_launch</mat-icon>

        <div class="brand-info">
            <span class="title">
                Angular Showcase
            </span>

            <span class="subtitle">
                Angular 21 Architecture
            </span>
        </div>
    </div>

    <span class="spacer"></span>

    <button mat-icon-button aria-label="Theme switch" (click)="toggleTheme()">

        <mat-icon>
            dark_mode
        </mat-icon>

    </button>

    <button mat-icon-button aria-label="Profile">
        <mat-icon>account_circle</mat-icon>
    </button>

</mat-toolbar>