html,
body {
    height: 100%;
}

body {
    font-family:
        Inter,
        system-ui,
        sans-serif;

    background-color: var(--color-background);
    color: var(--color-text);

    line-height: 1.5;
}